/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Martel:800|Noto+Sans+JP:400,700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-size: 1.6em;
}

.b-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
}
.b-header__inner {
  height: 100%;
  width: 100%;
  border-bottom: 5px solid #f9f038;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.b-mv__inner {
  margin-top: 60px;
  height: 224px;
  position: relative;
}

.b-skill {
  background-color: #f6f6f6;
  padding-top: 24px;
}
.b-skill__inner {
  margin-top: 20px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0 8px;
  padding-bottom: 20px;
  background-color: #fff;
}

.c-humburger {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
}
.c-humburger span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #333;
  transition: all 0.3s;
  transform-origin: left;
}
.is-open .c-humburger span:nth-child(1) {
  width: calc(100% * 1.414);
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.c-humburger span:nth-child(2) {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.is-open .c-humburger span:nth-child(2) {
  opacity: 0;
}
.c-humburger span:nth-child(3) {
  top: 100%;
  transform: translate3d(0, -100%, 0);
}
.is-open .c-humburger span:nth-child(3) {
  width: calc(100% * 1.414);
  transform: translate3d(0, -50%, 0) rotate(-45deg);
}

.c-title b {
  font-size: 20px;
  font-weight: bold;
}
.c-title span {
  margin-left: 6px;
  font-size: 10px;
}

.c-copy {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  z-index: 3;
  background-color: #fff;
}
.c-copy p {
  padding: 0.375em 14px;
  margin: 3px;
  position: relative;
  background-color: #fff;
  font-size: 2rem;
  line-height: 1.75;
  font-weight: bold;
  text-align: center;
}
.c-copy p::before, .c-copy p::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #aaa;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
}
.c-copy p::after {
  top: auto;
  left: auto;
  bottom: -3px;
  right: -3px;
}
.c-copy p span {
  display: inline-block;
  text-align: left;
}

.c-man {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
  z-index: 2;
}
.c-man img {
  max-height: 100%;
}

.c-cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.c-cloud img {
  width: 100%;
  height: 100%;
}

.c-heading {
  text-align: center;
}
.c-heading span {
  font-family: "Cabin", sans-serif;
  color: #555;
  display: block;
  font-size: 1.2rem;
}
.c-heading b {
  margin-top: 4px;
  display: block;
  font-size: 2.4rem;
}

.c-skill__num {
  font-family: "Martel", serif;
  margin: 0 auto;
  font-size: 1.8rem;
  font-style: italic;
  width: 36px;
  height: 36px;
  display: flex;
  background-color: #f9f038;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.c-skill__txt {
  margin-top: 8px;
}
.c-skill__txt b {
  font-size: 1.8rem;
  font-weight: bold;
}
.c-skill__txt span {
  margin-top: 8px;
  display: block;
  line-height: 1.75;
}
.m-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.m-skills .c-skill {
  width: calc(50% - 4px);
  text-align: center;
  margin-top: 20px;
}

.u-mt0 {
  margin-top: 0px;
}
.u-mt4 {
  margin-top: 4px;
}
.u-mt8 {
  margin-top: 8px;
}
.u-mt12 {
  margin-top: 12px;
}
.u-mt16 {
  margin-top: 16px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mt24 {
  margin-top: 24px;
}
.u-mt28 {
  margin-top: 28px;
}
.u-mt32 {
  margin-top: 32px;
}
.u-mt36 {
  margin-top: 36px;
}
.u-mt40 {
  margin-top: 40px;
}
.u-mt44 {
  margin-top: 44px;
}
.u-mt48 {
  margin-top: 48px;
}
.u-mt52 {
  margin-top: 52px;
}
.u-mt56 {
  margin-top: 56px;
}
.u-mt60 {
  margin-top: 60px;
}
.u-mt64 {
  margin-top: 64px;
}
.u-mt68 {
  margin-top: 68px;
}
.u-mt72 {
  margin-top: 72px;
}
.u-mt76 {
  margin-top: 76px;
}
.u-mt80 {
  margin-top: 80px;
}

.u-mb0 {
  margin-top: 0px;
}
.u-mb4 {
  margin-top: 4px;
}
.u-mb8 {
  margin-top: 8px;
}
.u-mb12 {
  margin-top: 12px;
}
.u-mb16 {
  margin-top: 16px;
}
.u-mb20 {
  margin-top: 20px;
}
.u-mb24 {
  margin-top: 24px;
}
.u-mb28 {
  margin-top: 28px;
}
.u-mb32 {
  margin-top: 32px;
}
.u-mb36 {
  margin-top: 36px;
}
.u-mb40 {
  margin-top: 40px;
}
.u-mb44 {
  margin-top: 44px;
}
.u-mb48 {
  margin-top: 48px;
}
.u-mb52 {
  margin-top: 52px;
}
.u-mb56 {
  margin-top: 56px;
}
.u-mb60 {
  margin-top: 60px;
}
.u-mb64 {
  margin-top: 64px;
}
.u-mb68 {
  margin-top: 68px;
}
.u-mb72 {
  margin-top: 72px;
}
.u-mb76 {
  margin-top: 76px;
}
.u-mb80 {
  margin-top: 80px;
}

.u-ml0 {
  margin-left: 0px;
}
.u-ml2 {
  margin-left: 2px;
}
.u-ml4 {
  margin-left: 4px;
}
.u-ml6 {
  margin-left: 6px;
}
.u-ml8 {
  margin-left: 8px;
}
.u-ml10 {
  margin-left: 10px;
}
.u-ml12 {
  margin-left: 12px;
}
.u-ml14 {
  margin-left: 14px;
}
.u-ml16 {
  margin-left: 16px;
}
.u-ml18 {
  margin-left: 18px;
}
.u-ml20 {
  margin-left: 20px;
}
.u-ml22 {
  margin-left: 22px;
}
.u-ml24 {
  margin-left: 24px;
}
.u-ml26 {
  margin-left: 26px;
}
.u-ml28 {
  margin-left: 28px;
}
.u-ml30 {
  margin-left: 30px;
}
.u-ml32 {
  margin-left: 32px;
}
.u-ml34 {
  margin-left: 34px;
}
.u-ml36 {
  margin-left: 36px;
}
.u-ml38 {
  margin-left: 38px;
}

.u-mr0 {
  margin-right: 0px;
}
.u-mr2 {
  margin-right: 2px;
}
.u-mr4 {
  margin-right: 4px;
}
.u-mr6 {
  margin-right: 6px;
}
.u-mr8 {
  margin-right: 8px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr12 {
  margin-right: 12px;
}
.u-mr14 {
  margin-right: 14px;
}
.u-mr16 {
  margin-right: 16px;
}
.u-mr18 {
  margin-right: 18px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mr22 {
  margin-right: 22px;
}
.u-mr24 {
  margin-right: 24px;
}
.u-mr26 {
  margin-right: 26px;
}
.u-mr28 {
  margin-right: 28px;
}
.u-mr30 {
  margin-right: 30px;
}
.u-mr32 {
  margin-right: 32px;
}
.u-mr34 {
  margin-right: 34px;
}
.u-mr36 {
  margin-right: 36px;
}
.u-mr38 {
  margin-right: 38px;
}

.u-mauto {
  margin-left: auto;
  margin-right: auto;
}

.u-pt0 {
  margin-top: 0px;
}
.u-pt4 {
  margin-top: 4px;
}
.u-pt8 {
  margin-top: 8px;
}
.u-pt12 {
  margin-top: 12px;
}
.u-pt16 {
  margin-top: 16px;
}
.u-pt20 {
  margin-top: 20px;
}
.u-pt24 {
  margin-top: 24px;
}
.u-pt28 {
  margin-top: 28px;
}
.u-pt32 {
  margin-top: 32px;
}
.u-pt36 {
  margin-top: 36px;
}
.u-pt40 {
  margin-top: 40px;
}
.u-pt44 {
  margin-top: 44px;
}
.u-pt48 {
  margin-top: 48px;
}
.u-pt52 {
  margin-top: 52px;
}
.u-pt56 {
  margin-top: 56px;
}
.u-pt60 {
  margin-top: 60px;
}
.u-pt64 {
  margin-top: 64px;
}
.u-pt68 {
  margin-top: 68px;
}
.u-pt72 {
  margin-top: 72px;
}
.u-pt76 {
  margin-top: 76px;
}
.u-pt80 {
  margin-top: 80px;
}

.u-pb0 {
  margin-top: 0px;
}
.u-pb4 {
  margin-top: 4px;
}
.u-pb8 {
  margin-top: 8px;
}
.u-pb12 {
  margin-top: 12px;
}
.u-pb16 {
  margin-top: 16px;
}
.u-pb20 {
  margin-top: 20px;
}
.u-pb24 {
  margin-top: 24px;
}
.u-pb28 {
  margin-top: 28px;
}
.u-pb32 {
  margin-top: 32px;
}
.u-pb36 {
  margin-top: 36px;
}
.u-pb40 {
  margin-top: 40px;
}
.u-pb44 {
  margin-top: 44px;
}
.u-pb48 {
  margin-top: 48px;
}
.u-pb52 {
  margin-top: 52px;
}
.u-pb56 {
  margin-top: 56px;
}
.u-pb60 {
  margin-top: 60px;
}
.u-pb64 {
  margin-top: 64px;
}
.u-pb68 {
  margin-top: 68px;
}
.u-pb72 {
  margin-top: 72px;
}
.u-pb76 {
  margin-top: 76px;
}
.u-pb80 {
  margin-top: 80px;
}

.u-pl0 {
  margin-left: 0px;
}
.u-pl2 {
  margin-left: 2px;
}
.u-pl4 {
  margin-left: 4px;
}
.u-pl6 {
  margin-left: 6px;
}
.u-pl8 {
  margin-left: 8px;
}
.u-pl10 {
  margin-left: 10px;
}
.u-pl12 {
  margin-left: 12px;
}
.u-pl14 {
  margin-left: 14px;
}
.u-pl16 {
  margin-left: 16px;
}
.u-pl18 {
  margin-left: 18px;
}
.u-pl20 {
  margin-left: 20px;
}
.u-pl22 {
  margin-left: 22px;
}
.u-pl24 {
  margin-left: 24px;
}
.u-pl26 {
  margin-left: 26px;
}
.u-pl28 {
  margin-left: 28px;
}
.u-pl30 {
  margin-left: 30px;
}
.u-pl32 {
  margin-left: 32px;
}
.u-pl34 {
  margin-left: 34px;
}
.u-pl36 {
  margin-left: 36px;
}
.u-pl38 {
  margin-left: 38px;
}

.u-pr0 {
  margin-right: 0px;
}
.u-pr2 {
  margin-right: 2px;
}
.u-pr4 {
  margin-right: 4px;
}
.u-pr6 {
  margin-right: 6px;
}
.u-pr8 {
  margin-right: 8px;
}
.u-pr10 {
  margin-right: 10px;
}
.u-pr12 {
  margin-right: 12px;
}
.u-pr14 {
  margin-right: 14px;
}
.u-pr16 {
  margin-right: 16px;
}
.u-pr18 {
  margin-right: 18px;
}
.u-pr20 {
  margin-right: 20px;
}
.u-pr22 {
  margin-right: 22px;
}
.u-pr24 {
  margin-right: 24px;
}
.u-pr26 {
  margin-right: 26px;
}
.u-pr28 {
  margin-right: 28px;
}
.u-pr30 {
  margin-right: 30px;
}
.u-pr32 {
  margin-right: 32px;
}
.u-pr34 {
  margin-right: 34px;
}
.u-pr36 {
  margin-right: 36px;
}
.u-pr38 {
  margin-right: 38px;
}

.u-border-btm--primary {
  border-bottom: 5px solid #f9f038;
}

@media screen and (max-width: 559px) {
  body {
    font-size: 1.6em;
  }
  .u-mt0-u-m {
    margin-top: 0px;
  }
  .u-mt4-u-m {
    margin-top: 4px;
  }
  .u-mt8-u-m {
    margin-top: 8px;
  }
  .u-mt12-u-m {
    margin-top: 12px;
  }
  .u-mt16-u-m {
    margin-top: 16px;
  }
  .u-mt20-u-m {
    margin-top: 20px;
  }
  .u-mt24-u-m {
    margin-top: 24px;
  }
  .u-mt28-u-m {
    margin-top: 28px;
  }
  .u-mt32-u-m {
    margin-top: 32px;
  }
  .u-mt36-u-m {
    margin-top: 36px;
  }
  .u-mt40-u-m {
    margin-top: 40px;
  }
  .u-mt44-u-m {
    margin-top: 44px;
  }
  .u-mt48-u-m {
    margin-top: 48px;
  }
  .u-mt52-u-m {
    margin-top: 52px;
  }
  .u-mt56-u-m {
    margin-top: 56px;
  }
  .u-mt60-u-m {
    margin-top: 60px;
  }
  .u-mt64-u-m {
    margin-top: 64px;
  }
  .u-mt68-u-m {
    margin-top: 68px;
  }
  .u-mt72-u-m {
    margin-top: 72px;
  }
  .u-mt76-u-m {
    margin-top: 76px;
  }
  .u-mt80-u-m {
    margin-top: 80px;
  }
  .u-mb0-u-m {
    margin-top: 0px;
  }
  .u-mb4-u-m {
    margin-top: 4px;
  }
  .u-mb8-u-m {
    margin-top: 8px;
  }
  .u-mb12-u-m {
    margin-top: 12px;
  }
  .u-mb16-u-m {
    margin-top: 16px;
  }
  .u-mb20-u-m {
    margin-top: 20px;
  }
  .u-mb24-u-m {
    margin-top: 24px;
  }
  .u-mb28-u-m {
    margin-top: 28px;
  }
  .u-mb32-u-m {
    margin-top: 32px;
  }
  .u-mb36-u-m {
    margin-top: 36px;
  }
  .u-mb40-u-m {
    margin-top: 40px;
  }
  .u-mb44-u-m {
    margin-top: 44px;
  }
  .u-mb48-u-m {
    margin-top: 48px;
  }
  .u-mb52-u-m {
    margin-top: 52px;
  }
  .u-mb56-u-m {
    margin-top: 56px;
  }
  .u-mb60-u-m {
    margin-top: 60px;
  }
  .u-mb64-u-m {
    margin-top: 64px;
  }
  .u-mb68-u-m {
    margin-top: 68px;
  }
  .u-mb72-u-m {
    margin-top: 72px;
  }
  .u-mb76-u-m {
    margin-top: 76px;
  }
  .u-mb80-u-m {
    margin-top: 80px;
  }
  .u-ml0-u-m {
    margin-left: 0px;
  }
  .u-ml2-u-m {
    margin-left: 2px;
  }
  .u-ml4-u-m {
    margin-left: 4px;
  }
  .u-ml6-u-m {
    margin-left: 6px;
  }
  .u-ml8-u-m {
    margin-left: 8px;
  }
  .u-ml10-u-m {
    margin-left: 10px;
  }
  .u-ml12-u-m {
    margin-left: 12px;
  }
  .u-ml14-u-m {
    margin-left: 14px;
  }
  .u-ml16-u-m {
    margin-left: 16px;
  }
  .u-ml18-u-m {
    margin-left: 18px;
  }
  .u-ml20-u-m {
    margin-left: 20px;
  }
  .u-ml22-u-m {
    margin-left: 22px;
  }
  .u-ml24-u-m {
    margin-left: 24px;
  }
  .u-ml26-u-m {
    margin-left: 26px;
  }
  .u-ml28-u-m {
    margin-left: 28px;
  }
  .u-ml30-u-m {
    margin-left: 30px;
  }
  .u-ml32-u-m {
    margin-left: 32px;
  }
  .u-ml34-u-m {
    margin-left: 34px;
  }
  .u-ml36-u-m {
    margin-left: 36px;
  }
  .u-ml38-u-m {
    margin-left: 38px;
  }
  .u-mr0-u-m {
    margin-right: 0px;
  }
  .u-mr2-u-m {
    margin-right: 2px;
  }
  .u-mr4-u-m {
    margin-right: 4px;
  }
  .u-mr6-u-m {
    margin-right: 6px;
  }
  .u-mr8-u-m {
    margin-right: 8px;
  }
  .u-mr10-u-m {
    margin-right: 10px;
  }
  .u-mr12-u-m {
    margin-right: 12px;
  }
  .u-mr14-u-m {
    margin-right: 14px;
  }
  .u-mr16-u-m {
    margin-right: 16px;
  }
  .u-mr18-u-m {
    margin-right: 18px;
  }
  .u-mr20-u-m {
    margin-right: 20px;
  }
  .u-mr22-u-m {
    margin-right: 22px;
  }
  .u-mr24-u-m {
    margin-right: 24px;
  }
  .u-mr26-u-m {
    margin-right: 26px;
  }
  .u-mr28-u-m {
    margin-right: 28px;
  }
  .u-mr30-u-m {
    margin-right: 30px;
  }
  .u-mr32-u-m {
    margin-right: 32px;
  }
  .u-mr34-u-m {
    margin-right: 34px;
  }
  .u-mr36-u-m {
    margin-right: 36px;
  }
  .u-mr38-u-m {
    margin-right: 38px;
  }
  .u-mauto-u-m {
    margin-left: auto;
    margin-right: auto;
  }
  .u-pt0-u-m {
    margin-top: 0px;
  }
  .u-pt4-u-m {
    margin-top: 4px;
  }
  .u-pt8-u-m {
    margin-top: 8px;
  }
  .u-pt12-u-m {
    margin-top: 12px;
  }
  .u-pt16-u-m {
    margin-top: 16px;
  }
  .u-pt20-u-m {
    margin-top: 20px;
  }
  .u-pt24-u-m {
    margin-top: 24px;
  }
  .u-pt28-u-m {
    margin-top: 28px;
  }
  .u-pt32-u-m {
    margin-top: 32px;
  }
  .u-pt36-u-m {
    margin-top: 36px;
  }
  .u-pt40-u-m {
    margin-top: 40px;
  }
  .u-pt44-u-m {
    margin-top: 44px;
  }
  .u-pt48-u-m {
    margin-top: 48px;
  }
  .u-pt52-u-m {
    margin-top: 52px;
  }
  .u-pt56-u-m {
    margin-top: 56px;
  }
  .u-pt60-u-m {
    margin-top: 60px;
  }
  .u-pt64-u-m {
    margin-top: 64px;
  }
  .u-pt68-u-m {
    margin-top: 68px;
  }
  .u-pt72-u-m {
    margin-top: 72px;
  }
  .u-pt76-u-m {
    margin-top: 76px;
  }
  .u-pt80-u-m {
    margin-top: 80px;
  }
  .u-pb0-u-m {
    margin-top: 0px;
  }
  .u-pb4-u-m {
    margin-top: 4px;
  }
  .u-pb8-u-m {
    margin-top: 8px;
  }
  .u-pb12-u-m {
    margin-top: 12px;
  }
  .u-pb16-u-m {
    margin-top: 16px;
  }
  .u-pb20-u-m {
    margin-top: 20px;
  }
  .u-pb24-u-m {
    margin-top: 24px;
  }
  .u-pb28-u-m {
    margin-top: 28px;
  }
  .u-pb32-u-m {
    margin-top: 32px;
  }
  .u-pb36-u-m {
    margin-top: 36px;
  }
  .u-pb40-u-m {
    margin-top: 40px;
  }
  .u-pb44-u-m {
    margin-top: 44px;
  }
  .u-pb48-u-m {
    margin-top: 48px;
  }
  .u-pb52-u-m {
    margin-top: 52px;
  }
  .u-pb56-u-m {
    margin-top: 56px;
  }
  .u-pb60-u-m {
    margin-top: 60px;
  }
  .u-pb64-u-m {
    margin-top: 64px;
  }
  .u-pb68-u-m {
    margin-top: 68px;
  }
  .u-pb72-u-m {
    margin-top: 72px;
  }
  .u-pb76-u-m {
    margin-top: 76px;
  }
  .u-pb80-u-m {
    margin-top: 80px;
  }
  .u-pl0-u-m {
    margin-left: 0px;
  }
  .u-pl2-u-m {
    margin-left: 2px;
  }
  .u-pl4-u-m {
    margin-left: 4px;
  }
  .u-pl6-u-m {
    margin-left: 6px;
  }
  .u-pl8-u-m {
    margin-left: 8px;
  }
  .u-pl10-u-m {
    margin-left: 10px;
  }
  .u-pl12-u-m {
    margin-left: 12px;
  }
  .u-pl14-u-m {
    margin-left: 14px;
  }
  .u-pl16-u-m {
    margin-left: 16px;
  }
  .u-pl18-u-m {
    margin-left: 18px;
  }
  .u-pl20-u-m {
    margin-left: 20px;
  }
  .u-pl22-u-m {
    margin-left: 22px;
  }
  .u-pl24-u-m {
    margin-left: 24px;
  }
  .u-pl26-u-m {
    margin-left: 26px;
  }
  .u-pl28-u-m {
    margin-left: 28px;
  }
  .u-pl30-u-m {
    margin-left: 30px;
  }
  .u-pl32-u-m {
    margin-left: 32px;
  }
  .u-pl34-u-m {
    margin-left: 34px;
  }
  .u-pl36-u-m {
    margin-left: 36px;
  }
  .u-pl38-u-m {
    margin-left: 38px;
  }
  .u-pr0-u-m {
    margin-right: 0px;
  }
  .u-pr2-u-m {
    margin-right: 2px;
  }
  .u-pr4-u-m {
    margin-right: 4px;
  }
  .u-pr6-u-m {
    margin-right: 6px;
  }
  .u-pr8-u-m {
    margin-right: 8px;
  }
  .u-pr10-u-m {
    margin-right: 10px;
  }
  .u-pr12-u-m {
    margin-right: 12px;
  }
  .u-pr14-u-m {
    margin-right: 14px;
  }
  .u-pr16-u-m {
    margin-right: 16px;
  }
  .u-pr18-u-m {
    margin-right: 18px;
  }
  .u-pr20-u-m {
    margin-right: 20px;
  }
  .u-pr22-u-m {
    margin-right: 22px;
  }
  .u-pr24-u-m {
    margin-right: 24px;
  }
  .u-pr26-u-m {
    margin-right: 26px;
  }
  .u-pr28-u-m {
    margin-right: 28px;
  }
  .u-pr30-u-m {
    margin-right: 30px;
  }
  .u-pr32-u-m {
    margin-right: 32px;
  }
  .u-pr34-u-m {
    margin-right: 34px;
  }
  .u-pr36-u-m {
    margin-right: 36px;
  }
  .u-pr38-u-m {
    margin-right: 38px;
  }
}

@media screen and (min-width: 560px) {
  body {
    font-size: 1.6em;
  }
  .c-copy {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .c-copy p {
    margin: 0;
  }
  .c-man {
    right: 10%;
  }
  .m-skills .c-skill {
    width: calc(33% - (16px * 2)/3);
  }
  .m-skills .c-skill:nth-child(3n) {
    width: calc(34% - (16px * 2)/3);
  }
  .u-mt0-m {
    margin-top: 0px;
  }
  .u-mt4-m {
    margin-top: 4px;
  }
  .u-mt8-m {
    margin-top: 8px;
  }
  .u-mt12-m {
    margin-top: 12px;
  }
  .u-mt16-m {
    margin-top: 16px;
  }
  .u-mt20-m {
    margin-top: 20px;
  }
  .u-mt24-m {
    margin-top: 24px;
  }
  .u-mt28-m {
    margin-top: 28px;
  }
  .u-mt32-m {
    margin-top: 32px;
  }
  .u-mt36-m {
    margin-top: 36px;
  }
  .u-mt40-m {
    margin-top: 40px;
  }
  .u-mt44-m {
    margin-top: 44px;
  }
  .u-mt48-m {
    margin-top: 48px;
  }
  .u-mt52-m {
    margin-top: 52px;
  }
  .u-mt56-m {
    margin-top: 56px;
  }
  .u-mt60-m {
    margin-top: 60px;
  }
  .u-mt64-m {
    margin-top: 64px;
  }
  .u-mt68-m {
    margin-top: 68px;
  }
  .u-mt72-m {
    margin-top: 72px;
  }
  .u-mt76-m {
    margin-top: 76px;
  }
  .u-mt80-m {
    margin-top: 80px;
  }
  .u-mb0-m {
    margin-top: 0px;
  }
  .u-mb4-m {
    margin-top: 4px;
  }
  .u-mb8-m {
    margin-top: 8px;
  }
  .u-mb12-m {
    margin-top: 12px;
  }
  .u-mb16-m {
    margin-top: 16px;
  }
  .u-mb20-m {
    margin-top: 20px;
  }
  .u-mb24-m {
    margin-top: 24px;
  }
  .u-mb28-m {
    margin-top: 28px;
  }
  .u-mb32-m {
    margin-top: 32px;
  }
  .u-mb36-m {
    margin-top: 36px;
  }
  .u-mb40-m {
    margin-top: 40px;
  }
  .u-mb44-m {
    margin-top: 44px;
  }
  .u-mb48-m {
    margin-top: 48px;
  }
  .u-mb52-m {
    margin-top: 52px;
  }
  .u-mb56-m {
    margin-top: 56px;
  }
  .u-mb60-m {
    margin-top: 60px;
  }
  .u-mb64-m {
    margin-top: 64px;
  }
  .u-mb68-m {
    margin-top: 68px;
  }
  .u-mb72-m {
    margin-top: 72px;
  }
  .u-mb76-m {
    margin-top: 76px;
  }
  .u-mb80-m {
    margin-top: 80px;
  }
  .u-ml0-m {
    margin-left: 0px;
  }
  .u-ml2-m {
    margin-left: 2px;
  }
  .u-ml4-m {
    margin-left: 4px;
  }
  .u-ml6-m {
    margin-left: 6px;
  }
  .u-ml8-m {
    margin-left: 8px;
  }
  .u-ml10-m {
    margin-left: 10px;
  }
  .u-ml12-m {
    margin-left: 12px;
  }
  .u-ml14-m {
    margin-left: 14px;
  }
  .u-ml16-m {
    margin-left: 16px;
  }
  .u-ml18-m {
    margin-left: 18px;
  }
  .u-ml20-m {
    margin-left: 20px;
  }
  .u-ml22-m {
    margin-left: 22px;
  }
  .u-ml24-m {
    margin-left: 24px;
  }
  .u-ml26-m {
    margin-left: 26px;
  }
  .u-ml28-m {
    margin-left: 28px;
  }
  .u-ml30-m {
    margin-left: 30px;
  }
  .u-ml32-m {
    margin-left: 32px;
  }
  .u-ml34-m {
    margin-left: 34px;
  }
  .u-ml36-m {
    margin-left: 36px;
  }
  .u-ml38-m {
    margin-left: 38px;
  }
  .u-mr0-m {
    margin-right: 0px;
  }
  .u-mr2-m {
    margin-right: 2px;
  }
  .u-mr4-m {
    margin-right: 4px;
  }
  .u-mr6-m {
    margin-right: 6px;
  }
  .u-mr8-m {
    margin-right: 8px;
  }
  .u-mr10-m {
    margin-right: 10px;
  }
  .u-mr12-m {
    margin-right: 12px;
  }
  .u-mr14-m {
    margin-right: 14px;
  }
  .u-mr16-m {
    margin-right: 16px;
  }
  .u-mr18-m {
    margin-right: 18px;
  }
  .u-mr20-m {
    margin-right: 20px;
  }
  .u-mr22-m {
    margin-right: 22px;
  }
  .u-mr24-m {
    margin-right: 24px;
  }
  .u-mr26-m {
    margin-right: 26px;
  }
  .u-mr28-m {
    margin-right: 28px;
  }
  .u-mr30-m {
    margin-right: 30px;
  }
  .u-mr32-m {
    margin-right: 32px;
  }
  .u-mr34-m {
    margin-right: 34px;
  }
  .u-mr36-m {
    margin-right: 36px;
  }
  .u-mr38-m {
    margin-right: 38px;
  }
  .u-mauto-m {
    margin-left: auto;
    margin-right: auto;
  }
  .u-pt0-m {
    margin-top: 0px;
  }
  .u-pt4-m {
    margin-top: 4px;
  }
  .u-pt8-m {
    margin-top: 8px;
  }
  .u-pt12-m {
    margin-top: 12px;
  }
  .u-pt16-m {
    margin-top: 16px;
  }
  .u-pt20-m {
    margin-top: 20px;
  }
  .u-pt24-m {
    margin-top: 24px;
  }
  .u-pt28-m {
    margin-top: 28px;
  }
  .u-pt32-m {
    margin-top: 32px;
  }
  .u-pt36-m {
    margin-top: 36px;
  }
  .u-pt40-m {
    margin-top: 40px;
  }
  .u-pt44-m {
    margin-top: 44px;
  }
  .u-pt48-m {
    margin-top: 48px;
  }
  .u-pt52-m {
    margin-top: 52px;
  }
  .u-pt56-m {
    margin-top: 56px;
  }
  .u-pt60-m {
    margin-top: 60px;
  }
  .u-pt64-m {
    margin-top: 64px;
  }
  .u-pt68-m {
    margin-top: 68px;
  }
  .u-pt72-m {
    margin-top: 72px;
  }
  .u-pt76-m {
    margin-top: 76px;
  }
  .u-pt80-m {
    margin-top: 80px;
  }
  .u-pb0-m {
    margin-top: 0px;
  }
  .u-pb4-m {
    margin-top: 4px;
  }
  .u-pb8-m {
    margin-top: 8px;
  }
  .u-pb12-m {
    margin-top: 12px;
  }
  .u-pb16-m {
    margin-top: 16px;
  }
  .u-pb20-m {
    margin-top: 20px;
  }
  .u-pb24-m {
    margin-top: 24px;
  }
  .u-pb28-m {
    margin-top: 28px;
  }
  .u-pb32-m {
    margin-top: 32px;
  }
  .u-pb36-m {
    margin-top: 36px;
  }
  .u-pb40-m {
    margin-top: 40px;
  }
  .u-pb44-m {
    margin-top: 44px;
  }
  .u-pb48-m {
    margin-top: 48px;
  }
  .u-pb52-m {
    margin-top: 52px;
  }
  .u-pb56-m {
    margin-top: 56px;
  }
  .u-pb60-m {
    margin-top: 60px;
  }
  .u-pb64-m {
    margin-top: 64px;
  }
  .u-pb68-m {
    margin-top: 68px;
  }
  .u-pb72-m {
    margin-top: 72px;
  }
  .u-pb76-m {
    margin-top: 76px;
  }
  .u-pb80-m {
    margin-top: 80px;
  }
  .u-pl0-m {
    margin-left: 0px;
  }
  .u-pl2-m {
    margin-left: 2px;
  }
  .u-pl4-m {
    margin-left: 4px;
  }
  .u-pl6-m {
    margin-left: 6px;
  }
  .u-pl8-m {
    margin-left: 8px;
  }
  .u-pl10-m {
    margin-left: 10px;
  }
  .u-pl12-m {
    margin-left: 12px;
  }
  .u-pl14-m {
    margin-left: 14px;
  }
  .u-pl16-m {
    margin-left: 16px;
  }
  .u-pl18-m {
    margin-left: 18px;
  }
  .u-pl20-m {
    margin-left: 20px;
  }
  .u-pl22-m {
    margin-left: 22px;
  }
  .u-pl24-m {
    margin-left: 24px;
  }
  .u-pl26-m {
    margin-left: 26px;
  }
  .u-pl28-m {
    margin-left: 28px;
  }
  .u-pl30-m {
    margin-left: 30px;
  }
  .u-pl32-m {
    margin-left: 32px;
  }
  .u-pl34-m {
    margin-left: 34px;
  }
  .u-pl36-m {
    margin-left: 36px;
  }
  .u-pl38-m {
    margin-left: 38px;
  }
  .u-pr0-m {
    margin-right: 0px;
  }
  .u-pr2-m {
    margin-right: 2px;
  }
  .u-pr4-m {
    margin-right: 4px;
  }
  .u-pr6-m {
    margin-right: 6px;
  }
  .u-pr8-m {
    margin-right: 8px;
  }
  .u-pr10-m {
    margin-right: 10px;
  }
  .u-pr12-m {
    margin-right: 12px;
  }
  .u-pr14-m {
    margin-right: 14px;
  }
  .u-pr16-m {
    margin-right: 16px;
  }
  .u-pr18-m {
    margin-right: 18px;
  }
  .u-pr20-m {
    margin-right: 20px;
  }
  .u-pr22-m {
    margin-right: 22px;
  }
  .u-pr24-m {
    margin-right: 24px;
  }
  .u-pr26-m {
    margin-right: 26px;
  }
  .u-pr28-m {
    margin-right: 28px;
  }
  .u-pr30-m {
    margin-right: 30px;
  }
  .u-pr32-m {
    margin-right: 32px;
  }
  .u-pr34-m {
    margin-right: 34px;
  }
  .u-pr36-m {
    margin-right: 36px;
  }
  .u-pr38-m {
    margin-right: 38px;
  }
}

@media screen and (max-width: 959px) {
  body {
    font-size: 1.6em;
  }
  .m-gnavi.is-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
  }
  .m-gnavi__lists {
    opacity: 0;
    transform: translateY(-100%);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: transform 0.3s;
    z-index: -1;
    text-align: center;
  }
  .m-gnavi.is-open .m-gnavi__lists {
    opacity: 1;
    transform: translateY(0%);
  }
  .m-gnavi__lists li {
    margin-top: 2em;
  }
  .m-gnavi__lists li:last-child {
    margin-bottom: 2em;
  }
  .u-mt0-u-l {
    margin-top: 0px;
  }
  .u-mt4-u-l {
    margin-top: 4px;
  }
  .u-mt8-u-l {
    margin-top: 8px;
  }
  .u-mt12-u-l {
    margin-top: 12px;
  }
  .u-mt16-u-l {
    margin-top: 16px;
  }
  .u-mt20-u-l {
    margin-top: 20px;
  }
  .u-mt24-u-l {
    margin-top: 24px;
  }
  .u-mt28-u-l {
    margin-top: 28px;
  }
  .u-mt32-u-l {
    margin-top: 32px;
  }
  .u-mt36-u-l {
    margin-top: 36px;
  }
  .u-mt40-u-l {
    margin-top: 40px;
  }
  .u-mt44-u-l {
    margin-top: 44px;
  }
  .u-mt48-u-l {
    margin-top: 48px;
  }
  .u-mt52-u-l {
    margin-top: 52px;
  }
  .u-mt56-u-l {
    margin-top: 56px;
  }
  .u-mt60-u-l {
    margin-top: 60px;
  }
  .u-mt64-u-l {
    margin-top: 64px;
  }
  .u-mt68-u-l {
    margin-top: 68px;
  }
  .u-mt72-u-l {
    margin-top: 72px;
  }
  .u-mt76-u-l {
    margin-top: 76px;
  }
  .u-mt80-u-l {
    margin-top: 80px;
  }
  .u-mb0-u-l {
    margin-top: 0px;
  }
  .u-mb4-u-l {
    margin-top: 4px;
  }
  .u-mb8-u-l {
    margin-top: 8px;
  }
  .u-mb12-u-l {
    margin-top: 12px;
  }
  .u-mb16-u-l {
    margin-top: 16px;
  }
  .u-mb20-u-l {
    margin-top: 20px;
  }
  .u-mb24-u-l {
    margin-top: 24px;
  }
  .u-mb28-u-l {
    margin-top: 28px;
  }
  .u-mb32-u-l {
    margin-top: 32px;
  }
  .u-mb36-u-l {
    margin-top: 36px;
  }
  .u-mb40-u-l {
    margin-top: 40px;
  }
  .u-mb44-u-l {
    margin-top: 44px;
  }
  .u-mb48-u-l {
    margin-top: 48px;
  }
  .u-mb52-u-l {
    margin-top: 52px;
  }
  .u-mb56-u-l {
    margin-top: 56px;
  }
  .u-mb60-u-l {
    margin-top: 60px;
  }
  .u-mb64-u-l {
    margin-top: 64px;
  }
  .u-mb68-u-l {
    margin-top: 68px;
  }
  .u-mb72-u-l {
    margin-top: 72px;
  }
  .u-mb76-u-l {
    margin-top: 76px;
  }
  .u-mb80-u-l {
    margin-top: 80px;
  }
  .u-ml0-u-l {
    margin-left: 0px;
  }
  .u-ml2-u-l {
    margin-left: 2px;
  }
  .u-ml4-u-l {
    margin-left: 4px;
  }
  .u-ml6-u-l {
    margin-left: 6px;
  }
  .u-ml8-u-l {
    margin-left: 8px;
  }
  .u-ml10-u-l {
    margin-left: 10px;
  }
  .u-ml12-u-l {
    margin-left: 12px;
  }
  .u-ml14-u-l {
    margin-left: 14px;
  }
  .u-ml16-u-l {
    margin-left: 16px;
  }
  .u-ml18-u-l {
    margin-left: 18px;
  }
  .u-ml20-u-l {
    margin-left: 20px;
  }
  .u-ml22-u-l {
    margin-left: 22px;
  }
  .u-ml24-u-l {
    margin-left: 24px;
  }
  .u-ml26-u-l {
    margin-left: 26px;
  }
  .u-ml28-u-l {
    margin-left: 28px;
  }
  .u-ml30-u-l {
    margin-left: 30px;
  }
  .u-ml32-u-l {
    margin-left: 32px;
  }
  .u-ml34-u-l {
    margin-left: 34px;
  }
  .u-ml36-u-l {
    margin-left: 36px;
  }
  .u-ml38-u-l {
    margin-left: 38px;
  }
  .u-mr0-u-l {
    margin-right: 0px;
  }
  .u-mr2-u-l {
    margin-right: 2px;
  }
  .u-mr4-u-l {
    margin-right: 4px;
  }
  .u-mr6-u-l {
    margin-right: 6px;
  }
  .u-mr8-u-l {
    margin-right: 8px;
  }
  .u-mr10-u-l {
    margin-right: 10px;
  }
  .u-mr12-u-l {
    margin-right: 12px;
  }
  .u-mr14-u-l {
    margin-right: 14px;
  }
  .u-mr16-u-l {
    margin-right: 16px;
  }
  .u-mr18-u-l {
    margin-right: 18px;
  }
  .u-mr20-u-l {
    margin-right: 20px;
  }
  .u-mr22-u-l {
    margin-right: 22px;
  }
  .u-mr24-u-l {
    margin-right: 24px;
  }
  .u-mr26-u-l {
    margin-right: 26px;
  }
  .u-mr28-u-l {
    margin-right: 28px;
  }
  .u-mr30-u-l {
    margin-right: 30px;
  }
  .u-mr32-u-l {
    margin-right: 32px;
  }
  .u-mr34-u-l {
    margin-right: 34px;
  }
  .u-mr36-u-l {
    margin-right: 36px;
  }
  .u-mr38-u-l {
    margin-right: 38px;
  }
  .u-mauto-u-l {
    margin-left: auto;
    margin-right: auto;
  }
  .u-pt0-u-l {
    margin-top: 0px;
  }
  .u-pt4-u-l {
    margin-top: 4px;
  }
  .u-pt8-u-l {
    margin-top: 8px;
  }
  .u-pt12-u-l {
    margin-top: 12px;
  }
  .u-pt16-u-l {
    margin-top: 16px;
  }
  .u-pt20-u-l {
    margin-top: 20px;
  }
  .u-pt24-u-l {
    margin-top: 24px;
  }
  .u-pt28-u-l {
    margin-top: 28px;
  }
  .u-pt32-u-l {
    margin-top: 32px;
  }
  .u-pt36-u-l {
    margin-top: 36px;
  }
  .u-pt40-u-l {
    margin-top: 40px;
  }
  .u-pt44-u-l {
    margin-top: 44px;
  }
  .u-pt48-u-l {
    margin-top: 48px;
  }
  .u-pt52-u-l {
    margin-top: 52px;
  }
  .u-pt56-u-l {
    margin-top: 56px;
  }
  .u-pt60-u-l {
    margin-top: 60px;
  }
  .u-pt64-u-l {
    margin-top: 64px;
  }
  .u-pt68-u-l {
    margin-top: 68px;
  }
  .u-pt72-u-l {
    margin-top: 72px;
  }
  .u-pt76-u-l {
    margin-top: 76px;
  }
  .u-pt80-u-l {
    margin-top: 80px;
  }
  .u-pb0-u-l {
    margin-top: 0px;
  }
  .u-pb4-u-l {
    margin-top: 4px;
  }
  .u-pb8-u-l {
    margin-top: 8px;
  }
  .u-pb12-u-l {
    margin-top: 12px;
  }
  .u-pb16-u-l {
    margin-top: 16px;
  }
  .u-pb20-u-l {
    margin-top: 20px;
  }
  .u-pb24-u-l {
    margin-top: 24px;
  }
  .u-pb28-u-l {
    margin-top: 28px;
  }
  .u-pb32-u-l {
    margin-top: 32px;
  }
  .u-pb36-u-l {
    margin-top: 36px;
  }
  .u-pb40-u-l {
    margin-top: 40px;
  }
  .u-pb44-u-l {
    margin-top: 44px;
  }
  .u-pb48-u-l {
    margin-top: 48px;
  }
  .u-pb52-u-l {
    margin-top: 52px;
  }
  .u-pb56-u-l {
    margin-top: 56px;
  }
  .u-pb60-u-l {
    margin-top: 60px;
  }
  .u-pb64-u-l {
    margin-top: 64px;
  }
  .u-pb68-u-l {
    margin-top: 68px;
  }
  .u-pb72-u-l {
    margin-top: 72px;
  }
  .u-pb76-u-l {
    margin-top: 76px;
  }
  .u-pb80-u-l {
    margin-top: 80px;
  }
  .u-pl0-u-l {
    margin-left: 0px;
  }
  .u-pl2-u-l {
    margin-left: 2px;
  }
  .u-pl4-u-l {
    margin-left: 4px;
  }
  .u-pl6-u-l {
    margin-left: 6px;
  }
  .u-pl8-u-l {
    margin-left: 8px;
  }
  .u-pl10-u-l {
    margin-left: 10px;
  }
  .u-pl12-u-l {
    margin-left: 12px;
  }
  .u-pl14-u-l {
    margin-left: 14px;
  }
  .u-pl16-u-l {
    margin-left: 16px;
  }
  .u-pl18-u-l {
    margin-left: 18px;
  }
  .u-pl20-u-l {
    margin-left: 20px;
  }
  .u-pl22-u-l {
    margin-left: 22px;
  }
  .u-pl24-u-l {
    margin-left: 24px;
  }
  .u-pl26-u-l {
    margin-left: 26px;
  }
  .u-pl28-u-l {
    margin-left: 28px;
  }
  .u-pl30-u-l {
    margin-left: 30px;
  }
  .u-pl32-u-l {
    margin-left: 32px;
  }
  .u-pl34-u-l {
    margin-left: 34px;
  }
  .u-pl36-u-l {
    margin-left: 36px;
  }
  .u-pl38-u-l {
    margin-left: 38px;
  }
  .u-pr0-u-l {
    margin-right: 0px;
  }
  .u-pr2-u-l {
    margin-right: 2px;
  }
  .u-pr4-u-l {
    margin-right: 4px;
  }
  .u-pr6-u-l {
    margin-right: 6px;
  }
  .u-pr8-u-l {
    margin-right: 8px;
  }
  .u-pr10-u-l {
    margin-right: 10px;
  }
  .u-pr12-u-l {
    margin-right: 12px;
  }
  .u-pr14-u-l {
    margin-right: 14px;
  }
  .u-pr16-u-l {
    margin-right: 16px;
  }
  .u-pr18-u-l {
    margin-right: 18px;
  }
  .u-pr20-u-l {
    margin-right: 20px;
  }
  .u-pr22-u-l {
    margin-right: 22px;
  }
  .u-pr24-u-l {
    margin-right: 24px;
  }
  .u-pr26-u-l {
    margin-right: 26px;
  }
  .u-pr28-u-l {
    margin-right: 28px;
  }
  .u-pr30-u-l {
    margin-right: 30px;
  }
  .u-pr32-u-l {
    margin-right: 32px;
  }
  .u-pr34-u-l {
    margin-right: 34px;
  }
  .u-pr36-u-l {
    margin-right: 36px;
  }
  .u-pr38-u-l {
    margin-right: 38px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 1.6em;
  }
  .b-header {
    height: 80px;
  }
  .b-mv__inner {
    width: 960px;
    height: 616px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  .b-skill {
    padding-top: 32px;
  }
  .b-skill__inner {
    width: 960px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    padding-bottom: 24px;
  }
  .c-humburger {
    display: none !important;
  }
  .c-copy {
    left: 0;
    padding: 0 24px 24px 0;
    margin-left: 5px;
  }
  .c-copy p {
    font-size: 4rem;
    padding-left: 48px;
    padding-right: 48px;
  }
  .c-copy p::before, .c-copy p::after {
    top: -5px;
    left: -5px;
  }
  .c-copy p::after {
    top: auto;
    left: auto;
    bottom: -5px;
    right: -5px;
  }
  .c-man {
    height: 560px;
    right: 0;
  }
  .c-cloud {
    left: 300px;
    transform: translateY(-50%);
  }
  .c-heading span {
    font-size: 1.6rem;
  }
  .c-heading b {
    margin-top: 16px;
    font-size: 4rem;
  }
  .c-skill__num {
    font-size: 2.8rem;
    width: 40px;
    height: 40px;
  }
  .c-skill__txt {
    margin-top: 16px;
  }
  .c-skill__txt b {
    font-size: 2.4rem;
  }
  .c-skill__txt span {
    margin-top: 16px;
    font-size: 1.6rem;
  }
  .m-gnavi__lists__content {
    display: flex;
  }
  .m-gnavi__lists__content .item {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 60px;
    position: relative;
    transition: color 0.1s;
  }
  .m-gnavi__lists__content .item:hover {
    color: #cc0000;
  }
  .m-gnavi__lists__content .item:last-child {
    margin-right: 16px;
  }
  .m-gnavi__lists__content .item::before {
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: -8px;
    background-color: #fff;
    transition: background-color 0.1s;
  }
  .m-gnavi__lists__content .item.is-active::before {
    background-color: #f9f038;
  }

  .m-gnavi__lists__content .item:hover::before {
    background-color: #cc0000;
  }
  .m-skills .c-skill {
    margin-top: 24px;
  }
  .u-mt0-l {
    margin-top: 0px;
  }
  .u-mt4-l {
    margin-top: 4px;
  }
  .u-mt8-l {
    margin-top: 8px;
  }
  .u-mt12-l {
    margin-top: 12px;
  }
  .u-mt16-l {
    margin-top: 16px;
  }
  .u-mt20-l {
    margin-top: 20px;
  }
  .u-mt24-l {
    margin-top: 24px;
  }
  .u-mt28-l {
    margin-top: 28px;
  }
  .u-mt32-l {
    margin-top: 32px;
  }
  .u-mt36-l {
    margin-top: 36px;
  }
  .u-mt40-l {
    margin-top: 40px;
  }
  .u-mt44-l {
    margin-top: 44px;
  }
  .u-mt48-l {
    margin-top: 48px;
  }
  .u-mt52-l {
    margin-top: 52px;
  }
  .u-mt56-l {
    margin-top: 56px;
  }
  .u-mt60-l {
    margin-top: 60px;
  }
  .u-mt64-l {
    margin-top: 64px;
  }
  .u-mt68-l {
    margin-top: 68px;
  }
  .u-mt72-l {
    margin-top: 72px;
  }
  .u-mt76-l {
    margin-top: 76px;
  }
  .u-mt80-l {
    margin-top: 80px;
  }
  .u-mb0-l {
    margin-top: 0px;
  }
  .u-mb4-l {
    margin-top: 4px;
  }
  .u-mb8-l {
    margin-top: 8px;
  }
  .u-mb12-l {
    margin-top: 12px;
  }
  .u-mb16-l {
    margin-top: 16px;
  }
  .u-mb20-l {
    margin-top: 20px;
  }
  .u-mb24-l {
    margin-top: 24px;
  }
  .u-mb28-l {
    margin-top: 28px;
  }
  .u-mb32-l {
    margin-top: 32px;
  }
  .u-mb36-l {
    margin-top: 36px;
  }
  .u-mb40-l {
    margin-top: 40px;
  }
  .u-mb44-l {
    margin-top: 44px;
  }
  .u-mb48-l {
    margin-top: 48px;
  }
  .u-mb52-l {
    margin-top: 52px;
  }
  .u-mb56-l {
    margin-top: 56px;
  }
  .u-mb60-l {
    margin-top: 60px;
  }
  .u-mb64-l {
    margin-top: 64px;
  }
  .u-mb68-l {
    margin-top: 68px;
  }
  .u-mb72-l {
    margin-top: 72px;
  }
  .u-mb76-l {
    margin-top: 76px;
  }
  .u-mb80-l {
    margin-top: 80px;
  }
  .u-ml0-l {
    margin-left: 0px;
  }
  .u-ml2-l {
    margin-left: 2px;
  }
  .u-ml4-l {
    margin-left: 4px;
  }
  .u-ml6-l {
    margin-left: 6px;
  }
  .u-ml8-l {
    margin-left: 8px;
  }
  .u-ml10-l {
    margin-left: 10px;
  }
  .u-ml12-l {
    margin-left: 12px;
  }
  .u-ml14-l {
    margin-left: 14px;
  }
  .u-ml16-l {
    margin-left: 16px;
  }
  .u-ml18-l {
    margin-left: 18px;
  }
  .u-ml20-l {
    margin-left: 20px;
  }
  .u-ml22-l {
    margin-left: 22px;
  }
  .u-ml24-l {
    margin-left: 24px;
  }
  .u-ml26-l {
    margin-left: 26px;
  }
  .u-ml28-l {
    margin-left: 28px;
  }
  .u-ml30-l {
    margin-left: 30px;
  }
  .u-ml32-l {
    margin-left: 32px;
  }
  .u-ml34-l {
    margin-left: 34px;
  }
  .u-ml36-l {
    margin-left: 36px;
  }
  .u-ml38-l {
    margin-left: 38px;
  }
  .u-mr0-l {
    margin-right: 0px;
  }
  .u-mr2-l {
    margin-right: 2px;
  }
  .u-mr4-l {
    margin-right: 4px;
  }
  .u-mr6-l {
    margin-right: 6px;
  }
  .u-mr8-l {
    margin-right: 8px;
  }
  .u-mr10-l {
    margin-right: 10px;
  }
  .u-mr12-l {
    margin-right: 12px;
  }
  .u-mr14-l {
    margin-right: 14px;
  }
  .u-mr16-l {
    margin-right: 16px;
  }
  .u-mr18-l {
    margin-right: 18px;
  }
  .u-mr20-l {
    margin-right: 20px;
  }
  .u-mr22-l {
    margin-right: 22px;
  }
  .u-mr24-l {
    margin-right: 24px;
  }
  .u-mr26-l {
    margin-right: 26px;
  }
  .u-mr28-l {
    margin-right: 28px;
  }
  .u-mr30-l {
    margin-right: 30px;
  }
  .u-mr32-l {
    margin-right: 32px;
  }
  .u-mr34-l {
    margin-right: 34px;
  }
  .u-mr36-l {
    margin-right: 36px;
  }
  .u-mr38-l {
    margin-right: 38px;
  }
  .u-mauto-l {
    margin-left: auto;
    margin-right: auto;
  }
  .u-pt0-l {
    margin-top: 0px;
  }
  .u-pt4-l {
    margin-top: 4px;
  }
  .u-pt8-l {
    margin-top: 8px;
  }
  .u-pt12-l {
    margin-top: 12px;
  }
  .u-pt16-l {
    margin-top: 16px;
  }
  .u-pt20-l {
    margin-top: 20px;
  }
  .u-pt24-l {
    margin-top: 24px;
  }
  .u-pt28-l {
    margin-top: 28px;
  }
  .u-pt32-l {
    margin-top: 32px;
  }
  .u-pt36-l {
    margin-top: 36px;
  }
  .u-pt40-l {
    margin-top: 40px;
  }
  .u-pt44-l {
    margin-top: 44px;
  }
  .u-pt48-l {
    margin-top: 48px;
  }
  .u-pt52-l {
    margin-top: 52px;
  }
  .u-pt56-l {
    margin-top: 56px;
  }
  .u-pt60-l {
    margin-top: 60px;
  }
  .u-pt64-l {
    margin-top: 64px;
  }
  .u-pt68-l {
    margin-top: 68px;
  }
  .u-pt72-l {
    margin-top: 72px;
  }
  .u-pt76-l {
    margin-top: 76px;
  }
  .u-pt80-l {
    margin-top: 80px;
  }
  .u-pb0-l {
    margin-top: 0px;
  }
  .u-pb4-l {
    margin-top: 4px;
  }
  .u-pb8-l {
    margin-top: 8px;
  }
  .u-pb12-l {
    margin-top: 12px;
  }
  .u-pb16-l {
    margin-top: 16px;
  }
  .u-pb20-l {
    margin-top: 20px;
  }
  .u-pb24-l {
    margin-top: 24px;
  }
  .u-pb28-l {
    margin-top: 28px;
  }
  .u-pb32-l {
    margin-top: 32px;
  }
  .u-pb36-l {
    margin-top: 36px;
  }
  .u-pb40-l {
    margin-top: 40px;
  }
  .u-pb44-l {
    margin-top: 44px;
  }
  .u-pb48-l {
    margin-top: 48px;
  }
  .u-pb52-l {
    margin-top: 52px;
  }
  .u-pb56-l {
    margin-top: 56px;
  }
  .u-pb60-l {
    margin-top: 60px;
  }
  .u-pb64-l {
    margin-top: 64px;
  }
  .u-pb68-l {
    margin-top: 68px;
  }
  .u-pb72-l {
    margin-top: 72px;
  }
  .u-pb76-l {
    margin-top: 76px;
  }
  .u-pb80-l {
    margin-top: 80px;
  }
  .u-pl0-l {
    margin-left: 0px;
  }
  .u-pl2-l {
    margin-left: 2px;
  }
  .u-pl4-l {
    margin-left: 4px;
  }
  .u-pl6-l {
    margin-left: 6px;
  }
  .u-pl8-l {
    margin-left: 8px;
  }
  .u-pl10-l {
    margin-left: 10px;
  }
  .u-pl12-l {
    margin-left: 12px;
  }
  .u-pl14-l {
    margin-left: 14px;
  }
  .u-pl16-l {
    margin-left: 16px;
  }
  .u-pl18-l {
    margin-left: 18px;
  }
  .u-pl20-l {
    margin-left: 20px;
  }
  .u-pl22-l {
    margin-left: 22px;
  }
  .u-pl24-l {
    margin-left: 24px;
  }
  .u-pl26-l {
    margin-left: 26px;
  }
  .u-pl28-l {
    margin-left: 28px;
  }
  .u-pl30-l {
    margin-left: 30px;
  }
  .u-pl32-l {
    margin-left: 32px;
  }
  .u-pl34-l {
    margin-left: 34px;
  }
  .u-pl36-l {
    margin-left: 36px;
  }
  .u-pl38-l {
    margin-left: 38px;
  }
  .u-pr0-l {
    margin-right: 0px;
  }
  .u-pr2-l {
    margin-right: 2px;
  }
  .u-pr4-l {
    margin-right: 4px;
  }
  .u-pr6-l {
    margin-right: 6px;
  }
  .u-pr8-l {
    margin-right: 8px;
  }
  .u-pr10-l {
    margin-right: 10px;
  }
  .u-pr12-l {
    margin-right: 12px;
  }
  .u-pr14-l {
    margin-right: 14px;
  }
  .u-pr16-l {
    margin-right: 16px;
  }
  .u-pr18-l {
    margin-right: 18px;
  }
  .u-pr20-l {
    margin-right: 20px;
  }
  .u-pr22-l {
    margin-right: 22px;
  }
  .u-pr24-l {
    margin-right: 24px;
  }
  .u-pr26-l {
    margin-right: 26px;
  }
  .u-pr28-l {
    margin-right: 28px;
  }
  .u-pr30-l {
    margin-right: 30px;
  }
  .u-pr32-l {
    margin-right: 32px;
  }
  .u-pr34-l {
    margin-right: 34px;
  }
  .u-pr36-l {
    margin-right: 36px;
  }
  .u-pr38-l {
    margin-right: 38px;
  }
}

@media screen and (max-width: 374px) {
  .u-mt0-s {
    margin-top: 0px;
  }
  .u-mt4-s {
    margin-top: 4px;
  }
  .u-mt8-s {
    margin-top: 8px;
  }
  .u-mt12-s {
    margin-top: 12px;
  }
  .u-mt16-s {
    margin-top: 16px;
  }
  .u-mt20-s {
    margin-top: 20px;
  }
  .u-mt24-s {
    margin-top: 24px;
  }
  .u-mt28-s {
    margin-top: 28px;
  }
  .u-mt32-s {
    margin-top: 32px;
  }
  .u-mt36-s {
    margin-top: 36px;
  }
  .u-mt40-s {
    margin-top: 40px;
  }
  .u-mt44-s {
    margin-top: 44px;
  }
  .u-mt48-s {
    margin-top: 48px;
  }
  .u-mt52-s {
    margin-top: 52px;
  }
  .u-mt56-s {
    margin-top: 56px;
  }
  .u-mt60-s {
    margin-top: 60px;
  }
  .u-mt64-s {
    margin-top: 64px;
  }
  .u-mt68-s {
    margin-top: 68px;
  }
  .u-mt72-s {
    margin-top: 72px;
  }
  .u-mt76-s {
    margin-top: 76px;
  }
  .u-mt80-s {
    margin-top: 80px;
  }
  .u-mb0-s {
    margin-top: 0px;
  }
  .u-mb4-s {
    margin-top: 4px;
  }
  .u-mb8-s {
    margin-top: 8px;
  }
  .u-mb12-s {
    margin-top: 12px;
  }
  .u-mb16-s {
    margin-top: 16px;
  }
  .u-mb20-s {
    margin-top: 20px;
  }
  .u-mb24-s {
    margin-top: 24px;
  }
  .u-mb28-s {
    margin-top: 28px;
  }
  .u-mb32-s {
    margin-top: 32px;
  }
  .u-mb36-s {
    margin-top: 36px;
  }
  .u-mb40-s {
    margin-top: 40px;
  }
  .u-mb44-s {
    margin-top: 44px;
  }
  .u-mb48-s {
    margin-top: 48px;
  }
  .u-mb52-s {
    margin-top: 52px;
  }
  .u-mb56-s {
    margin-top: 56px;
  }
  .u-mb60-s {
    margin-top: 60px;
  }
  .u-mb64-s {
    margin-top: 64px;
  }
  .u-mb68-s {
    margin-top: 68px;
  }
  .u-mb72-s {
    margin-top: 72px;
  }
  .u-mb76-s {
    margin-top: 76px;
  }
  .u-mb80-s {
    margin-top: 80px;
  }
  .u-ml0-s {
    margin-left: 0px;
  }
  .u-ml2-s {
    margin-left: 2px;
  }
  .u-ml4-s {
    margin-left: 4px;
  }
  .u-ml6-s {
    margin-left: 6px;
  }
  .u-ml8-s {
    margin-left: 8px;
  }
  .u-ml10-s {
    margin-left: 10px;
  }
  .u-ml12-s {
    margin-left: 12px;
  }
  .u-ml14-s {
    margin-left: 14px;
  }
  .u-ml16-s {
    margin-left: 16px;
  }
  .u-ml18-s {
    margin-left: 18px;
  }
  .u-ml20-s {
    margin-left: 20px;
  }
  .u-ml22-s {
    margin-left: 22px;
  }
  .u-ml24-s {
    margin-left: 24px;
  }
  .u-ml26-s {
    margin-left: 26px;
  }
  .u-ml28-s {
    margin-left: 28px;
  }
  .u-ml30-s {
    margin-left: 30px;
  }
  .u-ml32-s {
    margin-left: 32px;
  }
  .u-ml34-s {
    margin-left: 34px;
  }
  .u-ml36-s {
    margin-left: 36px;
  }
  .u-ml38-s {
    margin-left: 38px;
  }
  .u-mr0-s {
    margin-right: 0px;
  }
  .u-mr2-s {
    margin-right: 2px;
  }
  .u-mr4-s {
    margin-right: 4px;
  }
  .u-mr6-s {
    margin-right: 6px;
  }
  .u-mr8-s {
    margin-right: 8px;
  }
  .u-mr10-s {
    margin-right: 10px;
  }
  .u-mr12-s {
    margin-right: 12px;
  }
  .u-mr14-s {
    margin-right: 14px;
  }
  .u-mr16-s {
    margin-right: 16px;
  }
  .u-mr18-s {
    margin-right: 18px;
  }
  .u-mr20-s {
    margin-right: 20px;
  }
  .u-mr22-s {
    margin-right: 22px;
  }
  .u-mr24-s {
    margin-right: 24px;
  }
  .u-mr26-s {
    margin-right: 26px;
  }
  .u-mr28-s {
    margin-right: 28px;
  }
  .u-mr30-s {
    margin-right: 30px;
  }
  .u-mr32-s {
    margin-right: 32px;
  }
  .u-mr34-s {
    margin-right: 34px;
  }
  .u-mr36-s {
    margin-right: 36px;
  }
  .u-mr38-s {
    margin-right: 38px;
  }
  .u-mauto-s {
    margin-left: auto;
    margin-right: auto;
  }
  .u-pt0-s {
    margin-top: 0px;
  }
  .u-pt4-s {
    margin-top: 4px;
  }
  .u-pt8-s {
    margin-top: 8px;
  }
  .u-pt12-s {
    margin-top: 12px;
  }
  .u-pt16-s {
    margin-top: 16px;
  }
  .u-pt20-s {
    margin-top: 20px;
  }
  .u-pt24-s {
    margin-top: 24px;
  }
  .u-pt28-s {
    margin-top: 28px;
  }
  .u-pt32-s {
    margin-top: 32px;
  }
  .u-pt36-s {
    margin-top: 36px;
  }
  .u-pt40-s {
    margin-top: 40px;
  }
  .u-pt44-s {
    margin-top: 44px;
  }
  .u-pt48-s {
    margin-top: 48px;
  }
  .u-pt52-s {
    margin-top: 52px;
  }
  .u-pt56-s {
    margin-top: 56px;
  }
  .u-pt60-s {
    margin-top: 60px;
  }
  .u-pt64-s {
    margin-top: 64px;
  }
  .u-pt68-s {
    margin-top: 68px;
  }
  .u-pt72-s {
    margin-top: 72px;
  }
  .u-pt76-s {
    margin-top: 76px;
  }
  .u-pt80-s {
    margin-top: 80px;
  }
  .u-pb0-s {
    margin-top: 0px;
  }
  .u-pb4-s {
    margin-top: 4px;
  }
  .u-pb8-s {
    margin-top: 8px;
  }
  .u-pb12-s {
    margin-top: 12px;
  }
  .u-pb16-s {
    margin-top: 16px;
  }
  .u-pb20-s {
    margin-top: 20px;
  }
  .u-pb24-s {
    margin-top: 24px;
  }
  .u-pb28-s {
    margin-top: 28px;
  }
  .u-pb32-s {
    margin-top: 32px;
  }
  .u-pb36-s {
    margin-top: 36px;
  }
  .u-pb40-s {
    margin-top: 40px;
  }
  .u-pb44-s {
    margin-top: 44px;
  }
  .u-pb48-s {
    margin-top: 48px;
  }
  .u-pb52-s {
    margin-top: 52px;
  }
  .u-pb56-s {
    margin-top: 56px;
  }
  .u-pb60-s {
    margin-top: 60px;
  }
  .u-pb64-s {
    margin-top: 64px;
  }
  .u-pb68-s {
    margin-top: 68px;
  }
  .u-pb72-s {
    margin-top: 72px;
  }
  .u-pb76-s {
    margin-top: 76px;
  }
  .u-pb80-s {
    margin-top: 80px;
  }
  .u-pl0-s {
    margin-left: 0px;
  }
  .u-pl2-s {
    margin-left: 2px;
  }
  .u-pl4-s {
    margin-left: 4px;
  }
  .u-pl6-s {
    margin-left: 6px;
  }
  .u-pl8-s {
    margin-left: 8px;
  }
  .u-pl10-s {
    margin-left: 10px;
  }
  .u-pl12-s {
    margin-left: 12px;
  }
  .u-pl14-s {
    margin-left: 14px;
  }
  .u-pl16-s {
    margin-left: 16px;
  }
  .u-pl18-s {
    margin-left: 18px;
  }
  .u-pl20-s {
    margin-left: 20px;
  }
  .u-pl22-s {
    margin-left: 22px;
  }
  .u-pl24-s {
    margin-left: 24px;
  }
  .u-pl26-s {
    margin-left: 26px;
  }
  .u-pl28-s {
    margin-left: 28px;
  }
  .u-pl30-s {
    margin-left: 30px;
  }
  .u-pl32-s {
    margin-left: 32px;
  }
  .u-pl34-s {
    margin-left: 34px;
  }
  .u-pl36-s {
    margin-left: 36px;
  }
  .u-pl38-s {
    margin-left: 38px;
  }
  .u-pr0-s {
    margin-right: 0px;
  }
  .u-pr2-s {
    margin-right: 2px;
  }
  .u-pr4-s {
    margin-right: 4px;
  }
  .u-pr6-s {
    margin-right: 6px;
  }
  .u-pr8-s {
    margin-right: 8px;
  }
  .u-pr10-s {
    margin-right: 10px;
  }
  .u-pr12-s {
    margin-right: 12px;
  }
  .u-pr14-s {
    margin-right: 14px;
  }
  .u-pr16-s {
    margin-right: 16px;
  }
  .u-pr18-s {
    margin-right: 18px;
  }
  .u-pr20-s {
    margin-right: 20px;
  }
  .u-pr22-s {
    margin-right: 22px;
  }
  .u-pr24-s {
    margin-right: 24px;
  }
  .u-pr26-s {
    margin-right: 26px;
  }
  .u-pr28-s {
    margin-right: 28px;
  }
  .u-pr30-s {
    margin-right: 30px;
  }
  .u-pr32-s {
    margin-right: 32px;
  }
  .u-pr34-s {
    margin-right: 34px;
  }
  .u-pr36-s {
    margin-right: 36px;
  }
  .u-pr38-s {
    margin-right: 38px;
  }
}