.c-skill{
  width: calc(50% - 8px);
  text-align: center;
  &__num{
    font-size: 1.6rem;
    position: relative;
    &::before{
      content: "";
      width: 32px;
      height: 32px;
      display: block;
      background-color: color(accent);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}