.c-skill{

  width: calc(50% - 4px);
  text-align: center;
  margin-top: 20px;

  &__num{
    @include number;
    margin: 0 auto;
    font-size: 1.8rem;
    font-style: italic;
    width: 36px;
    height: 36px;
    display: flex;
    background-color: color(accent);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  &__txt{
    b{
      font-size: 1.8rem;
      font-weight: bold;
    }
    margin-top: 8px;

    span{
      margin-top: 8px;
      display: block;
    }
  }
}