.b-contact{
  padding-top: 24px;
  padding-bottom: 48px;
  @include media(l){
    padding-top: 32px;
  }

  &__inner{
    display: table;
    height: 100px;
    width: 100%;
    text-align: center;
    
    p{
      display: table-cell;
      vertical-align: middle;
    }
  }

}