.b-mv{

  &__inner{
    margin-top: 60px;
    height: 224px;
    position: relative;
  }

  &__copy{
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    z-index: 3;
    background-color: color(wh);
    p{
      padding: .375em 14px;
      margin: 3px;
      position: relative;
      background-color: color(wh);
      font-size: 2.0rem;
      line-height: 1.75;
      font-weight: bold;
      text-align: center;
      &::before,&::after{
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-color:#aaa;
        position: absolute;
        top: -3px;
        left: -3px;
        z-index: -1;
      }
      &::after{
        top: auto;
        left: auto;
        bottom: -3px;
        right: -3px;
      }
      span{
        display: inline-block;
        text-align: left;
      }
    }
  }
  &__cloud{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    z-index: 1;
    transform: translate(-50%,-50%);
    img{
      max-height: 100%;
    }
 
  }
  &__man{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90%;
    z-index: 2;
    img{
      max-height: 100%;
    }
  }
}