.b-mv{

  &__inner{
    margin-top: 60px;
    height: 224px;
    position: relative;
    @include media(l){
      width: 960px;
      height: 616px;
      margin-right: auto;
      margin-left: auto;
    }
  }

}