@include media(u-l){

  .m-gnavi{

    $root: &;

    // オープン：モーダルの背景
    &.is-open::before{
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba(color(bk0),.5);
      height: 100vh;
      width: 100vw;
    }
    
    &__lists{
      
      opacity: 0;
      transform: translateY(-100%);
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: color(wh);
      transition: transform .3s;
      z-index: -1;
      text-align: center;
  
      // オープン：メニューを表示
      #{$root}.is-open &{ 
        opacity: 1;
        transform: translateY(0%);

      }

      li{
        margin-top: 2em;
        &:last-child{
          margin-bottom: 2em;
        }
      }

    }
    
  }
}

