.m-gnavi {
  
  // &__lists{

  //   @include media(u-l){
  //     transform: translateY(-100%);
  //     .is-open &{
  //       position: absolute;
  //       top: 60px;
  //       left: 0;
  //       width: 100%;
  //       background-color: red;
  //       transform: translateY(0%);
  //     }
  //   }

  // }

}

.m-gnavi{

  $root: &;
  
  &__lists{

    transform: translateY(-100%);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: red;
    transition: transform .3s;
    z-index: -1;

    #{$root}.is-open &{ 

      @include media(u-l){
        transform: translateY(0%);
      }
    }
  }
  
}